@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 204 49% 99%;
    --foreground: 204 79% 3%;
    --muted: 204 22% 94%;
    --muted-foreground: 204 2% 27%;
    --popover: 204 49% 99%;
    --popover-foreground: 204 79% 3%;
    --card: 204 49% 98%;
    --card-foreground: 204 79% 2%;
    --border: 204 13% 94%;
    --input: 204 13% 94%;
    --primary: 204 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 13% 88%;
    --secondary-foreground: 204 13% 28%;
    --accent: 204 13% 88%;
    --accent-foreground: 204 13% 28%;
    --destructive: 13 80% 40%;
    --destructive-foreground: 0 0% 100%;
    --ring: 204 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 204 31% 4%;
    --foreground: 204 27% 99%;
    --muted: 204 22% 6%;
    --muted-foreground: 204 2% 73%;
    --popover: 204 31% 4%;
    --popover-foreground: 204 27% 99%;
    --card: 204 31% 5%;
    --card-foreground: 0 0% 100%;
    --border: 204 13% 15%;
    --input: 204 13% 15%;
    --primary: 204 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 19% 20%;
    --secondary-foreground: 204 19% 80%;
    --accent: 204 19% 20%;
    --accent-foreground: 204 19% 80%;
    --destructive: 13 80% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 204 100% 50%;
  }
}
